{{- /*
Link to an extension page, labelled `extension / package` when they differ.

@param {string} 0 canonical extension name (required)
@param {string} 1 source package name (optional)
*/ -}}
{{- $ext := trim (.Get 0) " " -}}
{{- $pkg := cond (ge (len .Params) 2) (trim (.Get 1) " ") "" -}}
{{- $label := $ext -}}
{{- $title := printf "Extension: %s" $ext -}}
{{- if and $pkg (ne $pkg $ext) -}}
  {{- $label = printf "%s / %s" $ext $pkg -}}
  {{- $title = printf "Extension: %s (Package: %s)" $ext $pkg -}}
{{- end -}}
{{- if $ext -}}
  {{- partial "pgext/badge.html" (dict
    "content" $label
    "color" "gray"
    "link" (printf "/e/%s" $ext)
    "title" $title
    "mono" true
    "class" "pgx-b--nowrap"
  ) -}}
{{- else -}}
  {{- partial "pgext/badge.html" (dict "content" "unknown" "color" "gray") -}}
{{- end -}}
