{{- /*
The implementation language of an extension, as a linked pill on the shared
dimension hue scale.

@param {string} 0 language name, case-insensitive
*/ -}}
{{- $lang := trim (.Get 0) " " -}}
{{- $names := dict "cpp" "C++" "c++" "C++" "c" "C" "rust" "Rust" "java" "Java"
  "python" "Python" "sql" "SQL" "data" "Data" "go" "Go" "shell" "Shell"
  "perl" "Perl" "javascript" "JavaScript" "typescript" "TypeScript" -}}
{{- $name := index $names (lower $lang) | default $lang -}}
{{- if $name -}}
  {{- partial "pgext/badge.html" (dict
    "content" $name
    "color" (partial "pgext/hue.html" (dict "dim" "lang" "value" $name))
    "hued" true
    "icon" "code"
    "link" (printf "/languages/%s/" (urlize $name))
    "title" (printf "Implemented in %s" $name)
  ) -}}
{{- end -}}
