{{- /*
A shortcode to create a PostgreSQL package matrix entry badge.

Positional parameters:
@param {string} 0 Package name (required, e.g., "pgvector_17*")
@param {string} 1 Version number (optional)
@param {string} 2 State (optional: MISS, HIDE, PGDG, PIGSTY, CONTRIB, etc.)
@param {string} 3 Download URL (optional)

@example {{< pkg "pgvector_17*" >}}                                    # 1 param: name only, defaults to MISS state
@example {{< pkg "pgvector_17*" "0.8.1" >}}                           # 2 params: name + version, defaults to OTHER state
@example {{< pkg "pgvector_17*" "0.8.1" "PGDG" >}}                    # 3 params: name + version + state
@example {{< pkg "pgvector_17*" "0.8.1" "PGDG" "https://..." >}}      # 4 params: name + version + state + url
*/ -}}

{{- $name := .Get 0 | default "" -}}
{{- $paramCount := len .Params -}}

{{- /* Parse parameters based on count */ -}}
{{- $version := cond (ge $paramCount 2) (.Get 1) "" -}}
{{- $state := "" -}}
{{- $url := cond (ge $paramCount 4) (.Get 3) "" -}}

{{- if eq $paramCount 1 -}}
  {{- $state = "MISS" -}}
{{- else if eq $paramCount 2 -}}
  {{- $state = "OTHER" -}}
{{- else if ge $paramCount 3 -}}
  {{- $state = .Get 2 | upper -}}
{{- end -}}

{{- /* State configuration dictionary */ -}}
{{- $stateConfig := dict
  "MISS"    (dict "color" "red"    "text" "MISSING")
  "HIDE"    (dict "color" "amber"  "text" "HIDDING")
  "PGDG"    (dict "color" "blue"   "text" "PGDG")
  "PIGSTY"  (dict "color" "green"  "text" "PIGSTY")
  "CONTRIB" (dict "color" "indigo" "text" "CONTRIB")
  "OTHER"   (dict "color" "purple" "text" "OTHER")
-}}

{{- /* Get state configuration */ -}}
{{- $config := index $stateConfig $state | default (index $stateConfig "OTHER") -}}
{{- $color := $config.color -}}
{{- $displayText := $config.text -}}

{{- /* Build badge content */ -}}
{{- $content := $displayText -}}
{{- if and (not (or (eq $state "MISS") (eq $state "HIDE"))) $version (ne $version "") -}}
  {{- $content = printf "%s  %s" $displayText $version -}}
{{- end -}}

{{- /* Set default URL if not provided */ -}}
{{- $url = cond (eq $url "") "#" $url -}}

{{- /* Build title for link */ -}}
{{- $title := $name -}}
{{- if ne $url "#source" -}}
  {{- $title = cond (eq $state "MISS") 
    (printf "%s (MISS) : %s" $name $url)
    (printf "%s : %s" $name $url) -}}
{{- else if eq $state "MISS" -}}
  {{- $title = printf "%s (MISS)" $name -}}
{{- end -}}

{{- /* Always render with link */ -}}
<a href="{{ $url }}" title="{{ $title | plainify }}">
  {{- partial "shortcodes/badge.html" (dict
    "content" $content
    "color" $color
    "border" true
    )
  -}}
</a>